{
    "env": {
        "es6": true,
        "node": true,
        "mocha": true,
        "jest": true
    },
    "extends": [
        "airbnb-base",
        "plugin:security/recommended"
    ],
    "plugins": [
        "security"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "require-atomic-updates": "warn",
        "no-unused-vars": "off",
        "array-callback-return": "off",
        "max-len": ["error", { "code": 120 }],
        "no-underscore-dangle": "off",
        "no-use-before-define": ["error", { "functions": false, "classes": false }],
        "no-param-reassign": [2, { "props": false }],
        "camelcase": [2, {"properties": "never"}],
        "new-cap": ["error", { "newIsCap": false, "capIsNew": false }]
    }
}
